.recent-additions {
    margin-top: 100px;
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recent-additions h2 {
    font-size: 32px;
    text-align: center;
    background: linear-gradient(90deg, #8f57ef 0%, #3a72ef 50%, #3ed4ae 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 50px;
    padding: 0 50px;
    transition: transform 0.5s ease-in-out;
    width: 80%;
}

.arrows {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 80px;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px;
    color: gray;
}

.prev-arrow:hover,
.next-arrow:hover {
   color: #333;
}
