.recent-additions h2 {
    font-size: 32px;
    text-align: center;
    background: linear-gradient(90deg, #8f57ef 0%, #3a72ef 50%, #3ed4ae 100%);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 20px;
}

.recent-additions {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
  }
  
  .custom-arrow {
    font-size: 24px;
    color: #333;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 10px;
    margin: 0 10px;
    text-align: start;
  }
  
  .custom-arrow:hover {
    color: #fff;
    background-color: #333;
  }
  
  .slick-dots {
    bottom: -60px;
  }
  
  .slick-list {
    padding: 10px !important; 
  }

  .next {
    right: -50px;
  }
  
  .prev {
    left: -70px;
  }