.filter-options {
    font-size: 16px;
    color: gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .filter-title {
    font-size: 32px;
    background: linear-gradient(90deg, #8f57ef 0%, #3a72ef 50%, #3ed4ae 100%);
    -webkit-background-clip: text;
    color: transparent;
  }

  .filter-option {
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
  }
  
  .filter-option:hover {
    color: #007bff;
    text-decoration: underline;
  }
  
  .reset-filters {
    margin-top: 10px;
    background-image: linear-gradient(306deg, rgba(166, 68, 253, 0.88) 3.5%, rgba(243, 0, 255, 0.88) 51.28%, rgba(255, 27, 191, 0.88) 96.12%);
    color: white;
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .reset-filters:hover {
    background-color: #0056b3;
  }
  