/* CatalogPage.css */
.catalog-page {
    margin-top: 100px;
    position: relative; /* Added position: relative; */
  }
  
  .main-area {
    display: flex;
    justify-content: space-around;
  }
  
  .search-and-filter {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 20%;
    gap: 60px; /* Adjusted gap */
    padding: 20px; /* Adjusted padding */
  }
  
  .book-listings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 60%;
    /* Add more styles as needed */
  }
  
  .load-more {
    background-image: linear-gradient(306deg, rgba(166, 68, 253, 0.88) 3.5%, rgba(243, 0, 255, 0.88) 51.28%, rgba(255, 27, 191, 0.88) 96.12%);
    color: white;
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline;
    position: absolute; /* Added position: absolute; */
    bottom: 0; /* Adjusted bottom */
    right: 37%; /* Adjusted right */
  }
  
  .load-more:hover {
    background-color: #0056b3;
  }

  @media only screen and (max-width: 600px) {
    .main-area {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }
  
    .search-and-filter {
      width: 50%; 
    }
  
    .book-listings {
      grid-template-columns: repeat(1, 1fr);
      width: 50%; 
    }
  }
  