/* BookDetails.css */

.book-details {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .cover-image img {
    max-width: 400px;
    max-height: 600px;
    border-radius: 5px;
  }
  
  .text-details {
    margin-left: 20px;
    text-align: left;
  }
  
  .text-details p {
    font-size: 24px;
    color: black;
    margin: 0;
  }
  
  .text-details .synopsis {
    font-size: 16px;
    color: gray;
  }
  
  .borrow-reserve-options {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .borrow-reserve-options .text {
    font-size: 16px;
    color: gray;
  }
  
  .borrow-button,
  .reserve-button {
    background-color: #007bff;
    color: white;
    font-size: 16px;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  