@keyframes intro-gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.search-bar {
    max-width: 100%;
    background-color: #f2f2f2;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: auto; */
    background-image: linear-gradient(94.37deg, #01fbee 0%, #15dbe5 16.95%, #36a7de 32.81%, #4e84db 47.86%, #6760d5 59.53%, #6760d5 61.46%, #7c4ad2 71.37%, #9037cc 83.86%, #a626c8 100%);
    border-image-slice: 1;
    border-radius: 10px;
    animation: intro-gradient 3s ease-in-out infinite;
    background-size: 200%;

}

.search-input {
    width: 100%;
    flex: 1;
    border: none;
    background-color: #f2f2f2;
    font-size: 16px;
    color: gray;
    border-radius: 5px;
    padding: 14px;
}

/* .search-bar::after {
    content: "🔍";
    position: absolute;

} */

.search-input:focus {
    outline: none;
}

