footer {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

footer h5 {
    font-size: 18px;
}

footer p {
    font-size: 14px;
    color: gray;
}

.helpful-links-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.helpful-links-content a {
    color: gray;
    font-size: 14px;
    text-decoration: none;
}

.helpful-links-content a:hover {
    color: #007bff;
    text-decoration: underline;
}